body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 3em;
}

.form-city {
    width: 15vw;
    margin-bottom: 15px;
}

.form-city button {
    width: 100%;
}

form+form>button {
    background-color: brown;

}






.weather-sections {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
}

.weather-card {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
}

.weather-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.weather-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "temp weather humidity wind"
        "allday allday allday allday"
        "week week week week"; /* Ligne 3 */
    gap: 10px; /* Espacement entre les éléments */
}

.section-article-temp {
    grid-area: temp; /* Place dans la zone "temp" */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.section-article-weather {
    grid-area: weather; /* Place dans la zone "weather" */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.section-article-humidity {
    grid-area: humidity; /* Place dans la zone "humidity" */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.section-article-windspeed {
    grid-area: wind; /* Place dans la zone "wind" */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.weather-for-allday {
    grid-area: allday; /* Place dans la zone "allday" */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    text-align: center;
}

.weather-for-week {
    grid-area: week; /* Place dans la zone "week" */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    text-align: center;
}

.macron-img {
    width: 200px;
    height: auto;
}





.weather-info h2 {
    margin: 0 0 10px 0;
    color: #333;
}

.weather-info p {
    margin: 5px 0;
    color: #666;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}